# Vitalino Tech V1.0
NEXT_PUBLIC_SITE_NAME="TechOfertas"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_MERCADO_LIVRE_AFFILIATE_ID="coloque-seu-id-aqui"
# Futuro banco de dados:
# DATABASE_URL="postgresql://usuario:senha@localhost:5432/techofertas"
